<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
</head>
<body>
    <h1>Categories</h1>
    {% if category %}
        {{ category }}
    {% else %}
        {% for category in categories %}
            <li>{{ category }}</li>
        {% endfor %}
    {% endif %}

    <form action="{% url 'categories' %}", method="POST">
        {% csrf_token %}
        <label for="title">Title
            <input type="text" name="title" id="title">
        </label>
        <button type="submit">Submit</button>
    </form>
</body>
</html>